@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 3.125rem;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1610380794717-4484e964d817?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 1.25rem;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 2.875rem;
  margin: -1.25rem 0 1.25rem;
}

.hero p {
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 1.25rem 0;
}

.content p {
  color: #555;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
}